/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/partials/_layout.scss */
body {
  font-size: 75%;
  font-family: "Quicksand", Helvetica, Verdana, Arial, sans-serif;
  line-height: 1.4;
  margin-left: 0.0375%;
  margin-right: 0.0375%;
}

/* line 34, ../sass/partials/_layout.scss */
a {
  font-weight: bold;
  color: #6e3a3b;
  text-decoration: none;
}
/* line 38, ../sass/partials/_layout.scss */
a:hover {
  text-decoration: underline;
}

/* line 44, ../sass/partials/_layout.scss */
span .good {
  color: #07ad1f;
}
/* line 48, ../sass/partials/_layout.scss */
span .bad {
  color: #ad0707;
}

/* line 53, ../sass/partials/_layout.scss */
h2 {
  font-weight: bold;
  color: #6e3a3b;
  padding-left: 50px;
  margin-bottom: 15px;
  font-size: 115%;
}

/* line 61, ../sass/partials/_layout.scss */
.block {
  text-indent: 50px;
}

/* line 66, ../sass/partials/_layout.scss */
#header {
  display: block;
  margin-right: 20%;
  margin-left: 20%;
  width: 60%;
  margin-top: 20px;
  border-bottom: 2px solid #6e3a3b;
}
@media screen and (min-width: 960px) {
  /* line 66, ../sass/partials/_layout.scss */
  #header {
    width: 643px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 71, ../sass/partials/_layout.scss */
#header img {
  width: 176px;
}

/* line 76, ../sass/partials/_layout.scss */
#footer {
  display: block;
  margin-right: 20%;
  margin-left: 20%;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 30px;
  border-bottom: 2px solid #6e3a3b;
  text-align: center;
}
@media screen and (min-width: 960px) {
  /* line 76, ../sass/partials/_layout.scss */
  #footer {
    width: 643px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 83, ../sass/partials/_layout.scss */
#footer h4 {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background: white;
  margin-bottom: -10px;
}

/* line 92, ../sass/partials/_layout.scss */
#navigation {
  background: white;
  margin-left: 32%;
  margin-bottom: -9px;
  width: 378px;
  font-size: 100%;
  padding-left: 20px;
}
/* line 101, ../sass/partials/_layout.scss */
#navigation li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
/* line 107, ../sass/partials/_layout.scss */
#navigation a {
  color: black;
  font-weight: normal;
}
/* line 111, ../sass/partials/_layout.scss */
#navigation a:hover {
  color: #6e3a3b;
  font-weight: normal;
  text-decoration: none;
}

/* line 119, ../sass/partials/_layout.scss */
.intro_block {
  display: block;
  margin-right: 20%;
  margin-left: 20%;
  width: 60%;
  margin-top: 37px;
  margin-bottom: 65px;
  text-align: center;
}
@media screen and (min-width: 960px) {
  /* line 119, ../sass/partials/_layout.scss */
  .intro_block {
    width: 643px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 125, ../sass/partials/_layout.scss */
.intro_block img {
  width: 641px;
}

/* line 131, ../sass/partials/_layout.scss */
#new_mosey {
  text-align: center;
  font-size: 400%;
  font-family: "Just Me Again Down Here", serif;
}

/* line 138, ../sass/partials/_layout.scss */
h3 {
  font-weight: bold;
  color: #6e3a3b;
  font-size: 50%;
  font-family: "Quicksand", Helvetica, Verdana, Arial, sans-serif;
}
/* line 143, ../sass/partials/_layout.scss */
h3 img {
  margin-bottom: -10px;
  margin-right: 5px;
  width: 50px !important;
}

/* line 151, ../sass/partials/_layout.scss */
.content {
  display: block;
  margin-right: 20%;
  margin-left: 20%;
  width: 60%;
  margin-top: 55px;
  margin-bottom: 10px;
  border: 2px solid #6e3a3b;
}
@media screen and (min-width: 960px) {
  /* line 151, ../sass/partials/_layout.scss */
  .content {
    width: 643px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 157, ../sass/partials/_layout.scss */
.content h1 {
  background: white;
  margin-top: -24px;
  margin-left: 20px;
  padding-left: 10px;
}
/* line 164, ../sass/partials/_layout.scss */
.content p {
  padding: 0px 45px;
  padding-left: 50px;
  margin-bottom: 25px;
}
/* line 170, ../sass/partials/_layout.scss */
.content #news {
  width: 136px;
}
/* line 172, ../sass/partials/_layout.scss */
.content #news img {
  width: 122px;
}
/* line 177, ../sass/partials/_layout.scss */
.content #info {
  margin-top: -30px;
  width: 310px;
}
/* line 180, ../sass/partials/_layout.scss */
.content #info img {
  width: 296px;
}
/* line 185, ../sass/partials/_layout.scss */
.content #history {
  margin-top: -30px;
  width: 175px;
}
/* line 188, ../sass/partials/_layout.scss */
.content #history img {
  width: 158px;
}
/* line 193, ../sass/partials/_layout.scss */
.content #living {
  width: 142px;
}
/* line 195, ../sass/partials/_layout.scss */
.content #living img {
  width: 126px;
}
/* line 200, ../sass/partials/_layout.scss */
.content #hashtag {
  width: 218px;
}
/* line 202, ../sass/partials/_layout.scss */
.content #hashtag img {
  width: 204px;
}
/* line 207, ../sass/partials/_layout.scss */
.content #alum {
  width: 160px;
}
/* line 209, ../sass/partials/_layout.scss */
.content #alum img {
  width: 141px;
}
/* line 214, ../sass/partials/_layout.scss */
.content #alummail {
  width: 280px;
}
/* line 216, ../sass/partials/_layout.scss */
.content #alummail img {
  width: 268px;
}
/* line 221, ../sass/partials/_layout.scss */
.content #mosey {
  width: 160px;
}
/* line 223, ../sass/partials/_layout.scss */
.content #mosey img {
  width: 146px;
}
/* line 228, ../sass/partials/_layout.scss */
.content #mosey_events {
  margin-top: -30px;
  width: 235px;
}
/* line 231, ../sass/partials/_layout.scss */
.content #mosey_events img {
  width: 218px;
}
/* line 236, ../sass/partials/_layout.scss */
.content #contact {
  width: 170px;
}
/* line 238, ../sass/partials/_layout.scss */
.content #contact img {
  width: 142px;
}
/* line 243, ../sass/partials/_layout.scss */
.content #location {
  width: 168px;
}
/* line 245, ../sass/partials/_layout.scss */
.content #location img {
  width: 147px;
}
/* line 250, ../sass/partials/_layout.scss */
.content #map {
  width: 100%;
  text-align: center;
  margin: 25px 0px 50px 0px;
}
/* line 256, ../sass/partials/_layout.scss */
.content .date {
  font-weight: bold;
  color: #6e3a3b;
  padding-left: 25px;
}
/* line 261, ../sass/partials/_layout.scss */
.content .mosey_event {
  font-size: 110%;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 25px;
}
/* line 268, ../sass/partials/_layout.scss */
.content form {
  margin: 25px;
}

/* line 273, ../sass/partials/_layout.scss */
#instafeed {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
/* line 280, ../sass/partials/_layout.scss */
#instafeed img {
  width: 120px;
  height: 120px;
  margin: 1% 2%;
  padding: 3px;
  border: 1px solid #868084;
  box-shadow: 3px 1px 7px #BDB7BB;
}

/* line 290, ../sass/partials/_layout.scss */
#error_msg, #problem_msg {
  color: #ad0707;
  margin-left: 50px;
  margin-bottom: 25px;
  display: none;
}

/* line 294, ../sass/partials/_layout.scss */
#success_msg {
  color: #07ad1f;
  margin-left: 50px;
  margin-bottom: 25px;
  display: none;
}

/* line 298, ../sass/partials/_layout.scss */
.moseyer {
  display: inline-block;
  text-align: center;
  width: 200px;
  word-wrap: break-word;
  margin-top: 20px;
  margin-left: 8px;
}
/* line 306, ../sass/partials/_layout.scss */
.moseyer img {
  width: 200px;
}
/* line 310, ../sass/partials/_layout.scss */
.moseyer p {
  margin-bottom: 2px;
}

/* line 315, ../sass/partials/_layout.scss */
.img_ctr {
  width: 200px;
  height: 150px;
  overflow: hidden;
}
