{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="intro_block">
    <img src="{% static "images/intro_about.png" %} " alt="PlS LiVe WIT uS" />
</div>

<div class="content">
    <h1 id="history"><img src="{% static "images/header_history.png" %}"></h1>
    <p class="block">Built in 1880, the house was a carriage house and servants quarters owned by Ezra Cornell, the founder of the University. In 1912, Edward Amherst Ott and his wife bought the house from Mary E. Cornell and Emma C. Blair and remodeled it during 1923-1925. </p>
    <p class="block">In 1933, “Dr.” Ott and Alva L. Tompkins, head of Cornell United Religious Works, developed a cooperative living association which was incorporated November 30, 1937 as the Llenroc Lodge Association. Ott earned the title “Dr.” as a result of a lecture tour he gave throughout the Southern U.S. during 1920. He was born in Youngstown, Ohio in 1867. He attended Hiram College and studied English at Drake University in Iowa. He later became President of Ott School in Chicago and was well known as a Lyceum (English Educators Organization) lecturer.</p>
    <p class="block">The novelty of the cooperative idea drew attention from the newspapers of the day. Indeed, it was considered an honor to be selected as a member of the Lodge. The dining room was organized the same year and was known as the Llenroc Dining Association, Inc --- A separate entity from the house, but serving house members only. In 1934, the dining room was opened to the public and at times served as many as 125 people.</p>
    <p class="block"> On March 29th, 1938 the house was turned over to the students. In return, two stipulations were made with Dr. Ott: Ott was to receive an annuity when he retired, and Ott was to be advisor as long as he wished. In 1939, a group of senior students who disagreed with the house liquor rules (this was a dry house until 1971) broke away and formed Algonquin Lodge (located on Stewart Ave). On July 22, 1940, at the request of Delta Phi, also known as Llenroc Lodge, the name was changed to Cayuga Student Residence Association. In 1955, the name was changed again to the now familiar Cayuga Lodge. Inc. </a>
</div>

<div class="content">
    <h1 id="living"><img src="{% static "images/header_living.png" %}"></h1>
    <p class="block">
        Undergrads, graduate students, men, women - everyone is welcome at Cayuga Lodge. We are very close to campus; just across the street from Noyes and the West Campus dorms. Rent is affordable and ranges from around $550-$750/month , with parking space available for $25/month. </p>
    <p class="block">Cayuga Lodge has 15 rooms on three floors, most of which are singles. There is no set meal plan, so many students choose to get meal plans on West Campus, at other Co-ops, or cook individually or in groups at the lodge.  </p><p class="block">
    Because the lodge is owned and operated by the students, we work very hard to keep our house in good shape. Students are required to do one "Co-op Job" every week, and kitchen duty is done every night on a rotating basis. In addition, lodgers must complete 10 hours/semester of "Co-op hours" on cleaning or home improvement projects for the lodge.</p> 
    <p class="block"> Cayuga Lodge is a very social place, and we frequently host events for lodgers and friends. New lodgers are chosen each year during <a href="{% url 'mosey' %}">mosey</a>, or by other means if spots in the house open unexpectedly. If you're interested in learning more about living at Cayuga Lodge, feel free to <a href="{% url 'contact' %}">contact</a> any of the officers!</p>
</div>



{% endblock %}