{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="intro_block">
    <img src="{% static "images/intro_alumni.png" %} " alt="these kids might be alumni some day" />
</div>

<div class="content">
    <h1 id="alum"><img src="{% static "images/header_alumni.png" %}"></h1>
    <p>
    student-run and independently owned cooperative at Cornell University in Ithaca, NY. Originally built in 1880 as Ezra Cornell’s carriage house and servant’s quarters, Cayuga now houses 18-22 undergraduate students. </p><p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper aliquet ante, nec aliquet risus congue sed. Quisque non fringilla nulla. Cras ac ligula porta nibh molestie elementum auctor et odio. Maecenas cursus lacinia dignissim. Ut sed vestibulum turpis, sed commodo diam. Vivamus cursus dui vitae venenatis porta. Pellentesque arcu nisi, hendrerit quis tempor sed, dapibus at est.
    </p> 
</div>

<div class="content">
    <h1 id="alummail"><img src="{% static "images/header_alummailing.png" %}"></h1>
    <p>Enter your name and email address to join our alumni mailing list!<p>
    <form id="alum_form" onSubmit="add_alum('{{csrf_token}}'); return false;">
        {{ alum_form.as_p }}
        <p>
        <input type="submit" value="Submit" /></p>
    </form>
    <div id="success_msg">Thanks!</div>
    <div id="error_msg">Form not filled out correctly.</div>
    <div id="problem_msg">An error occured. Please try again later.</div>
</div>

<script src="{% static "js/add_alum.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>

{% endblock %}