{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="intro_block">
    <img src="{% static "images/intro_main.png" %} " alt="the lodge!" />
</div>

<div class="content">
    <h1 id="info"><img src="{% static "images/header_lodge.png" %}"></h1>
    <p class="block">
    student-run and independently owned cooperative at Cornell University in Ithaca, NY. Originally built in 1880 as Ezra Cornell’s carriage house and servant’s quarters, Cayuga now houses 18-22 undergraduate students. </p><p class="block">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper aliquet ante, nec aliquet risus congue sed. Quisque non fringilla nulla. Cras ac ligula porta nibh molestie elementum auctor et odio. Maecenas cursus lacinia dignissim. Ut sed vestibulum turpis, sed commodo diam. Vivamus cursus dui vitae venenatis porta. Pellentesque arcu nisi, hendrerit quis tempor sed, dapibus at est.
    </p> 
</div>

<div class="content">
    <h1 id="news"><img src="{% static "images/header_news.png" %}"></h1>
    {% for article in news %}
    <div class="date">{{ article.date }} </div>
    <p>
        {{ article.text }}
    </p>
    {% endfor %}
</div>  

<div class = "content">
    <h1 id="hashtag"><img src="{% static "images/header_hashtag.png" %}"></h1>
<div id='instafeed'>
            <ul>
            </ul>
</div></div>

<script type="text/javascript" src="{% static "js/instafeed.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/slimbox2.js" %}"></script>
<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'cayugalodge',
        clientId: '28d9bcaf0ea74fa597fe102c55c52cf2',
        limit: 50,
        resolution: 'standard_resolution',
        {% verbatim %}
        template: '<a href="{{image}}" rel="lightbox" title="{{caption}}"><img src="{{image}}" /></a>'
        {% endverbatim %}
    });
    feed.run();

    $("#instafeed").on("click", "a", function (e) {
        var $this = $(this);
        if(!$this.data('loaded')){
            e.preventDefault();
            $this.slimbox().data('loaded', true).click();
        }   
    });
</script>


{% endblock %}