{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="intro_block">
    <img src="{% static "images/intro_mosey.png" %} " alt="these kids might be alumni some day" />
</div>

<div class="content">
    <h1 id="mosey"><img src="{% static "images/header_mosey.png" %}"></h1>
    <p >
    Mosey is a week of fun events, usually during the first couple weeks of Spring semester, where students who are interested in living in a co-op get to tour the houses, then get to know the members of the houses they are most interested in living in. </p>
    <h2>Mosey 2014!</h2>
    <p>Mosey 2014 is happening right now! Check back for a list of events during mosey week and be sure to stop by our open house on Sunday, February 2nd from 1-5pm for a house tour!</p> 
    <p> If you aren't able to make it to the open house on Sunday, don't worry! <a href="{% url 'contact' %}">Contact us</a> to get on our mosey mailing list, or check back later for the online form. Hope to see you soon!</p>
</div>

<div class="content">
    <h1 id="mosey_events"><img src="{% static "images/header_moseyevents.png" %}"></h1>

    {% for event in events %}
    <div class="mosey_event">{{ event.name }} </div>
    <div class="date">{{ event.start_date | date }}, {{ event.start_date | time }} - {{ event.end_date | time }}</div>
    <p>
        {{ event.description }}
    </p>
    {% empty %}
    <div class="mosey_event"> There are no events scheduled right now, sorry! </div>
    {% endfor %}
</div>


{% endblock %}