@mixin aligned-element {
    display: block;
    margin-right: $side-margin;
    margin-left: $side-margin;
    width: $base-width;

    @media screen and (min-width: 960px) {
        width: 643px;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin emphasized {
    font-weight: bold;
    color: $secondary-color;
}

@mixin hidden_message ($color) {
    color: $color;
    margin-left: 50px;
    margin-bottom: 25px;
    display: none;
}

body {
  font-size: $base-font-size;
  font-family: $base-font;
  line-height: 1.4;
  margin-left: 0.0375%;
  margin-right: 0.0375%;
}

a {
    @include emphasized;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

span {
    .good {
        color: $greengo;
    }

    .bad {
        color: $redstop;
    }
}

h2 {
    @include emphasized;
    padding-left: 50px;
    margin-bottom: 15px;
    font-size: 115%;
}


.block {
    text-indent: 50px;
}


#header {
    @include aligned-element;
    margin-top: 20px;
    border-bottom: $border-width solid $border-color;

    img {
        width: 176px;
    }
}

#footer {
    @include aligned-element;
    margin-top: 100px;
    margin-bottom: 30px;
    border-bottom: $border-width solid $border-color;
    text-align: center;

    h4 {
        margin-left: auto;
        margin-right:auto;
        width: 200px;
        background: $white;
        margin-bottom: -10px;
    }
}

#navigation {

    background: $white;
    margin-left: 32%;
    margin-bottom: -9px;
    width: 378px;
    font-size: 100%;
    padding-left: 20px;

    li {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }

    a {
        color: $primary-color;
        font-weight: normal;

        &:hover {
            @include emphasized;
            text-decoration: none;
        }
    }
}

.intro_block {
    @include aligned-element;
    margin-top: 37px;
    margin-bottom: 65px;
    text-align: center;

    img {
        width: 641px;
    }

}

#new_mosey {
    text-align: center;
    font-size: 400%;
    font-family: $title-font;

}

h3 {
    @include emphasized;
    font-size: 50%;
    font-family: $base-font;

    img {
        margin-bottom: -10px;
        margin-right: 5px;
        width: 50px !important;
    }
}


.content {
    @include aligned-element;
    margin-top: 55px;
    margin-bottom: 10px;
    border: $border-width solid $border-color;

    h1 {
        background: $white;
        margin-top: -24px;
        margin-left: 20px;
        padding-left: 10px;
    }  

    p {
        padding: 0px 45px;
        padding-left: 50px;
        margin-bottom: 25px;
    }

    #news {
        width: 136px;
        img {
            width: 122px;
        }
    }

    #info {
        margin-top: -30px;
        width: 310px;
        img {
            width: 296px;
        }
    }

    #history {
        margin-top: -30px;
        width: 175px;
        img {
            width: 158px;
        }
    }

    #living {
        width: 142px;
        img {
            width: 126px;
        }
    }

    #hashtag {
        width: 218px;
        img {
            width: 204px;
        }
    }

    #alum {
        width: 160px;
        img {
            width: 141px;
        }
    }

    #alummail {
        width: 280px;
        img {
            width: 268px;
        }
    }

    #mosey {
        width: 160px;
        img {
            width: 146px;
        }
    }

    #mosey_events {
        margin-top: -30px;
        width: 235px;
        img {
            width: 218px;
        }
    }

    #contact {
        width: 170px;
        img {
            width: 142px;
        }
    }

    #location {
        width: 168px;
        img {
            width: 147px;
        }
    }

    #map {
        width: 100%;
        text-align: center;
        margin: 25px 0px 50px 0px;
    }

    .date {
        @include emphasized;
        padding-left: 25px;
    }

    .mosey_event {
        font-size: 110%;
        font-weight: bold;
        padding-top: 15px;
        padding-left: 25px;
    }

    form {
        margin: 25px;
    }
}

#instafeed {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;

    img {
        width: 120px;
        height: 120px;
        margin: 1% 2%;
        padding: 3px;
        border: 1px solid #868084;
        box-shadow: 3px 1px 7px #BDB7BB;
    }
}

#error_msg, #problem_msg {
    @include hidden_message($redstop);
}

#success_msg {
    @include hidden_message($greengo);
}

.moseyer {
    display: inline-block;
    text-align: center;
    width: 200px;
    word-wrap: break-word;
    margin-top: 20px;
    margin-left: 8px;

    img {
        width: 200px;
    }

    p {
        margin-bottom: 2px;
    }
}


