body {
  font-size: $base-font-size;
  font-family: $base-font;
  line-height: 1.4;
  margin-left: 0.0375%;
  margin-right: 0.0375%;
}

#header {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}