{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="intro_block">
    <img src="{% static "images/intro_alumni.png" %} " alt="these kids might be alumni some day" />
</div>

<div class="content">
    <h1 id="alum"><img src="{% static "images/header_alumni.png" %}"></h1>
    <p class="block">
    From advising current lodgers and funding big house projects, to visting on Slope Day to tell old Shaft stories and bringing their children to point out a composite on the wall, alumni are the most important part of life at Cayuga Lodge. We would love to keep in touch with all of our alum, so if you're interested in hearing about the current lodge news, please fill out the form below to get on our mailing list. We'd love to hear from you! And if you have any questions, you're welcome to <a href="{% url 'contact' %}">contact</a> the current Alumni Chair.
    </p> 
</div>

<div class="content">
    <h1 id="alummail"><img src="{% static "images/header_alummailing.png" %}"></h1>
    <p>Enter your name and email address to join our alumni mailing list!<p>
    <form id="alum_form" onSubmit="add_alum('{{csrf_token}}'); return false;">
        {{ alum_form.as_p }}
        <p>
        <input type="submit" value="Submit" /></p>
    </form>
    <div id="success_msg">Thanks!</div>
    <div id="error_msg">Form not filled out correctly.</div>
    <div id="problem_msg">An error occured. Please try again later.</div>
</div>

<script src="{% static "js/add_alum.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>

{% endblock %}