<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %} Cayuga Lodge {% endblock %}</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "stylesheets/main.css" %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static "stylesheets/slimbox2.css" %}" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
    <!-- <meta name="viewport" content="width=device-width"> -->
    {% block header %}
    {% endblock %}
</head>

<body>
    <div id="header">
    <a href="{% url 'home' %}">
    <img src="{% static "images/header_logo.png" %} " alt="Cayuga Lodge Cooperative" /></a>
    <ul id="navigation">
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="{% url 'about' %}">about</a></li>
        <li><a href="{% url 'alumni' %}">alumni</a></li>
        <li><a href="{% url 'mosey' %}">mosey</a></li>
        <li><a href="{% url 'contact' %}">contact</a></li>
        <li><a href="{% url 'lodgical_home' %}">lodgical</a></li>
    </ul>
    </div>
    {% if user.is_authenticated %}
    <div id="login_info">
        Hi, {{ user.first_name }}. <a href="{% url 'logout' %}"> Logout.</a>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <div id="footer">
        <h4>&copy; Cayuga Lodge, Inc. 2014</h4>
    </div>
</body>
</html>