{% extends "base.html" %}

{% load staticfiles %}
{% block content %}

<div class="intro_block">
    <img src="{% static "images/intro_contact.png" %} " alt="Lodge in the fall" />
</div>

<div class="content">
    <h1 id="contact"><img src="{% static "images/header_contact.png" %}"></h1>
    {% for contact in contacts %}
    <h2>{{ contact.position }}</h2>
    <p>
    {{ contact.name }} - {{ contact.email }}
    <br>
    </p>
    {% endfor %}
</div>

<div class="content">
    <h1 id="location"><img src="{% static "images/header_location.png" %}"></h1>
    <div id="map">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=630+Stewart+Ave,Ithaca,NY&zoom=16&size=500x300&&markers=color:brown%7C630+Stewart+Ave,Ithaca+NY&sensor=false"></div>
</div>




{% endblock %}