{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="intro_block" id="new_mosey">
    Cayuga Lodge Mosey
    <h3> DECISION {% now "Y" %} </h3>
</div>

<div class="content" id="moseyers">
    {% for moseyer in moseyers %}
    <div class="moseyer">
    {% if moseyer.picture %}
    <div class="img_ctr">
    <a href="/mosey/decision/{{ moseyer.id }}/"><img src="{{ moseyer.picture.url }}"></a>
</div>
    {% endif %}
    <p><a href="/mosey/decision/{{ moseyer.id }}/">{{ moseyer.first_name }} {{ moseyer.last_name }}</a></p>
    <p>{{ moseyer.year }} </p>
</div>
    {% endfor %}
</div>

</script>


{% endblock %}